* {margin:0; padding:0; box-sizing:border-box; vertical-align:bottom;}
html {height:100%;}
body {height:100%;}
.clearfix::after {content:'.'; height:0; visibility:hidden; display:block; clear:both;}

header {width:100%; min-width:1140px; height:200px; background:url(../img/5cm.jpg) no-repeat center 65%;}
header nav {width:100%; height:40px; background-color:rgba(121, 184, 202, 0.8);}
header .right_bar {width:800px; margin:0 auto; position:relative;}
.user {height:40px; width:40px; position:absolute; right:-20px;}
.user_head {position:absolute; height:30px; width:30px; border-radius:30px; background-image:url(../img/head.jpg); background-size:cover; top:5px; left:5px; transition:transform 0.2s linear 0s; z-index:6;}
.default_head {position:absolute; height:30px; width:30px; border-radius:30px; background-color:#ccc; top:5px; left:5px;}
.user_info {position:absolute; width:150px; text-align:center; left:-55px; top:40px; display:none; padding-top:150px; height:200px; background-color:#fff; border:solid 1px #ccc; z-index:0; border-bottom-left-radius:10px; border-bottom-right-radius:10px;}
div.on .user_info {display:block;}
div.on .user_head {transform:translateY(25px) scale(2.5, 2.5); border:solid #fff 1px;}

#main {width:800px; height:auto; margin:80px auto 0 auto;}
#app {width:100%; height:auto;}

.article_item {height:auto; margin-top:40px; padding-bottom:40px; border-bottom:solid 1px #ccc;}
.article_item a {text-decoration:none; color:black;}
.article_item p, .article_item span {color:#ccc;}
span.view {margin-left: 350px;}
span.comment_count {margin-left:20px;}
.item_info {margin-bottom:40px;}
.pageIndex {margin-top:120px; position:relative;}
.prePage {float:left; cursor:pointer;}
.nextPage {float:right; cursor:pointer;}

div.login {position:relative;}

footer {width:100%; min-width:1140px; margin-top:50px; height:100px;}