* {margin:0; padding:0; box-sizing:border-box; vertical-align:bottom;}
html {height:100%;}
body {height:100%;}
.clearfix::after {content:'.'; height:0; visibility:hidden; display:block; clear:both;}

header {width:100%; min-width:1140px; height:200px; background:url(../img/5cm.jpg) no-repeat center 65%;}
header nav {width:100%; height:40px; background-color:rgba(121, 184, 202, 0.8);}
header .header_main {width:800px; margin:0 auto; position:relative;}
.user {height:30px; width:30px; border-radius:30px; background-color:#fff; position:absolute; right:-15px; top:5px;}
.user_info {position:absolute; width:80px; text-align:center; right:-40px; top:40px;}

#main {width:800px; height:auto; margin:80px auto 0 auto;}
#app {width:100%; height:auto;}

.article_item {height:auto; margin-top:40px; padding-bottom:40px; border-bottom:solid 1px #ccc;}
.article_item a {text-decoration:none; color:black;}
.article_item p, .article_item span {color:#ccc;}
span.view {margin-left: 350px;}
span.comment_count {margin-left:20px;}
.item_info {margin-bottom:40px;}
.pageIndex {margin-top:120px; position:relative;}
.prePage {float:left; cursor:pointer;}
.nextPage {float:right; cursor:pointer;}

#chatroom {width:100px; height:100px; position:fixed; background-color:#eee; border-radius:50px;}

footer {width:100%; min-width:1140px; margin-top:50px; height:100px;}